[Unit]
Description=Windmill worker monitor
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=sd
WorkingDirectory=/home/sd/windmill
ExecStart=/home/sd/windmill/windmill.sh monitor 30
Restart=always
RestartSec=10
EnvironmentFile=/home/sd/windmill/.env

[Install]
WantedBy=multi-user.target
